<form method="post" action="{{ path('intranet_quinque_admin_merito_estado_delete', {'id': merito_estado.id}) }}" onsubmit="return confirm('¿Estás seguro que deseas eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ merito_estado.id) }}">
    <button class="btn btn-danger">
        <i class="fas fa-trash"></i> Eliminar
    </button>
</form>