{# templates/intranet/quinque/admin/convocatoria/edit.html.twig #}

{% extends 'intranet/quinque/admin/base.html.twig' %}

{% block title %}Editar Convocatoria{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <h1 class="container mt-3 col-md-8"><i class="fas fa-bullhorn text-warning"></i> Editar Convocatoria</h1>

        {{ include('intranet/quinque/admin/convocatoria/_form.html.twig') }}
        
        <div class="text-end mb-3">
            <a href="{{ path('quinque_convocatoria_index') }}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Volver</a>
        </div>
    </div>
{% endblock %}