{# templates/categoria/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nueva Categoría{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1><i class="fas fa-plus"></i> Nueva Categoría</h1>

        {{ include('categoria/_form.html.twig') }}

        <a href="{{ path('categoria_index') }}" class="btn btn-secondary mt-3">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>
{% endblock %}