{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    <button class="btn btn-primary">{{ button_label|default('Grabar') }}</button>
{{ form_end(form) }}
