{% extends 'base.html.twig' %}

{% block title %}Editar Persona{% endblock %}

{% block body %}
    <h1>Editar datos persona</h1>

    {{ include('persona/_form.html.twig', {'button_label': 'Actualizar'}) }}
    
    <a href="{{ path('persona_index') }}" class="btn btn-secondary">Volver al listado</a>
    
    {{ include('persona/_delete_form.html.twig') }}
{% endblock %}
