{# templates/intranet/quinque/admin/categoria/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Editar Categoría{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1><i class="fas fa-edit"></i> Editar Categoría</h1>

        {{ include('intranet/quinque/admin/categoria/_form.html.twig') }}

        <div class="btn-group mt-3">
            <a href="{{ path('quinque_categoria_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
            {{ include('intranet/quinque/admin/categoria/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}