{# templates/intranet/quinque/admin/categoria/new.html.twig #}

{% extends 'intranet/quinque/admin/base.html.twig' %}

{% block title %}Nueva Categoría{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1><i class="fas fa-tags text-warning"></i> Nueva Categoría</h1>
        {{ include('intranet/quinque/admin/categoria/_form.html.twig') }}
        <div class="d-flex justify-content-end mt-3">
            <a href="{{ path('quinque_categoria_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
        </div>
    </div>
{% endblock %}