{# templates/solicitud/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center mb-4"><i class="fas fa-paper-plane"></i> 
                <span class="d-none d-sm-inline">Agregar solicitud</span></h1>
            <div class="col-md-8 col-lg-6">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}

            <div class="d-flex justify-content-end">
            <a href="{{ path('persona_index') }}" class="btn btn-secondary">Volver al listado</a>
            </div>
        </div>
    </div>
{% endblock %}
