{# templates/intranet/quinque/admin/departamento/edit.html.twig #}
{% extends 'intranet/quinque/admin/base.html.twig' %}

{% block title %}Editar Departamento{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <h1 class="mt-3 col-md-8"><i class="fas fa-building text-warning"></i> Editar Departamento</h1>
        <div class="container mt-3 col-md-8">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary mt-3">Guardar</button>
            {{ form_end(form) }}
            <div class="text-end mb-3">
                <a href="{{ path('intranet_quinque_admin_departamento_index') }}" 
                    class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Volver</a>
            </div>
        </div>
    </div>
{% endblock %}