<form method="post" action="{{ path('quinque_solicitud_estado_delete', {'id': solicitud_estado.id}) }}" onsubmit="return confirm('¿Estás seguro que deseas eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ solicitud_estado.id) }}">
    <button class="btn btn-danger">
        <i class="fas fa-trash"></i> Eliminar
    </button>
</form>
