{% extends 'base.html.twig' %}

{% block title %}Editar Estado de Solicitud{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Editar Estado de Solicitud</h1>

        {{ include('intranet/quinque/admin/solicitud_estado/_form.html.twig') }}

        <div class="mt-3">
            <a href="{{ path('quinque_solicitud_estado_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver al listado
            </a>

            {{ include('intranet/quinque/admin/solicitud_estado/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
