{% extends 'base.html.twig' %}

{% block title %}Nuevo Estado de Solicitud{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Crear nuevo Estado de Solicitud</h1>

        {{ include('intranet/quinque/admin/solicitud_estado/_form.html.twig') }}

        <a href="{{ path('quinque_solicitud_estado_index') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Volver al listado
        </a>
    </div>
{% endblock %}
