{# templates/convocatoria/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Editar Convocatoria{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">

            <h1><i class="fas fa-bullhorn"></i> Editar Convocatoria</h1>

            {{ include('convocatoria/_form.html.twig') }}

            <div class="text-end">
                <a href="{{ path('convocatoria_index') }}" class="btn btn-secondary">Volver al listado de convocatorias</a>
            </div>
            </div>
        </div>    
    </div>
{% endblock %}